@model IEnumerable<Entity.Notes>
@{
    ViewBag.Title = "studentList";
    Layout = "~/Views/Shared/UserTemplate.cshtml";
}


<div class="container">
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Öğrenci Ad-Soyad</th>
                <th>1.Sınav</th>
                <th>2.Sınav</th>
                <th>3.Sınav</th>
                <th>Ortalama</th>
                <th>Dersten Geçme Durumu</th>
                <th>Düzenle</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>@item.notesID</td>
                <td>@item.Student.nameSurname</td>
                <td>@item.note1</td>
                <td>@item.note2</td>
                <td>@item.note3</td>

                    @{float s1 = item.note1, s2 = item.note2, s3 = item.note3;
                        float sonuc = (s1 + s2 + s3) / 3;
                    }

                <td>@sonuc</td>
                <td>@item.status</td>
                <td><a href="/Admin/teacherNotesUpdate/@item.teacherID" class="btn btn-primary">Düzenle</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
